body {
    background-color: #FBF9F7;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: grey;
}

#container {
    text-align: center;
}

.column {
    width: 30%;
}

.column-right {
    width: 40%;
}