body {
  background-color: #e7e2d8;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: grey;
  line-height: 1.5;
  text-align: justify;
}

h2 {
  font-size: 28px;
}

#container {
  text-align: center;
  margin: 50px;
  background-color: #fbf9f7;
}

#header {
  margin: 20px;
  font-family: "EB Garamond", serif;
  font-size: 35px;
  display: inline-block;
  font-weight: 600;
}

.sec-header {
  background-color: #242254;
  height: 120px;
  margin: 0;
  padding: 0;
}

.sec-border {
  background-color: #d1a557;
  height: 20px;
  margin: 0;
  padding: 0;
}

.logo-img {
  display: inline-block;
  position: absolute;
  margin: 0;
  margin-left: 400px;
  padding: 0;
}

.centered {
  text-align: center;
}

.chart-holder {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 10px 30px;
}

.text-holder {
  margin: 50px 30px;
  text-align: justify;
}

.viz-row {
  display: flex;
  flex-direction: row;
}

.separator {
  background-color: #242254;
  height: 120px;
}

.bolded {
  font-weight: bolder;
}

.coloured {
  color: #800000;
}

.coloured2 {
  color: #242254;
}
